/* CSS styles for our lightbox component */
.OpenLightbox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30;
}
.OpenLightbox img {
  width: 80vw;
  height: 80vh;
  object-fit: contain;
}
.OpenLightbox .close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  fill: white;
  cursor: pointer;
}
.OpenLightbox .arrow {
  width: 40px;
  height: 40px;
  fill: white;
  cursor: pointer;
}
